{% style %}
    .blog-card .blog-img {
        width:100%;
        height:300px
    }
    .blog-card__title {
        font-size:25px;
        color:var(--color-black);
        font-weight:700;
        font-family:var(--font-family-1);
        text-transform:uppercase
    }
    .blog-card_content p {
        font-size:17px;
        font-family:var(--font-family-3);
        font-weight:400;
        color:var(--color-black);
    }
    .blog-card-bnt a{
        color:var(--color-orange);
        font-size:17px;
        font-family:var(--font-family-3);
        font-weight:400

    }
    .blog-card-bnt a:hover{
        color:#7f3f16
    }
{% endstyle %}
<div class="page-width">
   <div class="custom-grid">
        <div class="custom-row">
            {% for blog in section.settings.blog.articles limit: 3 %}
                <div class="custom-col col-xl-4 col-sm-12">
                    <div class="blog-card">
                        <a href="{{ blog.url }}">
                            <h1 class="blog-card__title">{{ blog.title | truncate: 50 | escape }}</h1>
                            <div class="blog-wrap-img">
                                {% if blog.image.src != blank %}
                                    <img class="blog-img" src="{{blog.image.src | img_url: 'large'}}" width="auto" height="auto" loading="lazy"/>
                                    {% else %}
                                    {{ 'image' | placeholder_svg_tag: "blog-img" }}
                                {% endif %}
                            </div>
                        </a>
                        <div class="blog-card_content">
                            <p class="">
                                {%- if blog.excerpt.size > 0 -%}
                                  {{ blog.excerpt | strip_html | truncatewords: 40 }}
                                {%- else -%}
                                  {{ blog.content | strip_html | truncatewords: 40 }}
                                {%- endif -%}
                              </p>
                        </div>
                        <div class="blog-card-bnt">
                            <a  href="{{ blog.url }}">Read more</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
   </div>
</div>

{% schema %}
    {
        "name":"Section blog",
        "settings":[
            {
                "type": "blog",
                "id": "blog",
                "label": "t:sections.featured-blog.settings.blog.label"
            }
        ],
        "presets":[
            {
                "name":"Section blog"
            }
        ]
    }
{% endschema %}